@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-image: linear-gradient(-20deg, #EE9CA7 0%, #FFDDE1 100%); */
  background-color: #eddbc0;
}


.wrapper {
  background: #df2e38;
  width: 780px;
  border-radius: 20px;
  padding: 25px 40px;
  padding-top: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



.wrapper header {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 20px 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header h2 {
  font-size: 1.6rem;
}


header .volume-slide {
  display: flex;
  align-items: center;
}

header .volume-key {
  display: flex;
  gap: 5px;
  align-items: center;
}

header .volume-slide span {
  font-weight: 400;
  font-size: 1.19rem;
  margin-right: 15px;
}

header .volume-slide input {
  accent-color: #fff;
}

header .volume-key input {
  appearance: none;
  width: 60px;
  height: 25px;
  border-radius: 30px;
  background-color: #fff;
  position: relative;
  outline: none;
}

.volume-key input::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: #df2e38;
  border-radius: inherit;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.volume-key input:checked:before {
  left: 35px;
  background-color: #df2e38;
}

.piano-keys .key {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: all 0.07s ease;
}

.piano-keys {
  display: flex;
  /* gap: 1px; */
  margin-top: 30px;
  cursor: pointer;
}

.piano-keys .white {
  width: 70px;
  height: 230px;
  height: 250px;

  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: linear-gradient(#fff 96%, #eee 4%);
  z-index: 1;
  border: 1px solid #353434;
  border-top: 1px solid #fff;
  color: #000;
}

.piano-keys .black {
  width: 45px;
  /* width: 55px; */
  /* height: 140px; */
  height: 150px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(black 75%, #000 4%);
  box-shadow: rgba(6, 24, 44, 0.815) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(31, 30, 30, 0.822) 0px 1px 0px inset;
}

.piano-keys .key.hide span {
  display: none;
}

.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.playing {
  transform: scale(0.95);
  border-color: #df2e38;
  box-shadow: 0 0 1rem #df2e38;
}

.piano-keys .black.active {
  /* box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.piano-keys .white.active {
  /* box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(133, 132, 132, 0.1) 0px -79px 40px 0px inset,
    rgba(97, 97, 97, 0.06) 0px 2px 1px, rgba(49, 49, 49, 0.09) 0px 4px 2px,
    rgba(61, 61, 61, 0.09) 0px 8px 4px, rgba(34, 34, 34, 0.09) 0px 16px 8px,
    rgba(37, 37, 37, 0.014) 0px 32px 16px;
}

footer {
  position: absolute;
  font-size: 13px;
  margin-top: 650px;
  color: rgb(31, 31, 31);
  text-align: center;
}

footer a {
  text-decoration: none;

  color: #df2e38;
}
